### Netflix stock data
* https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html.

1. Send an HTTP request to the webpage using the requests library.
2. Parse the HTML content of the webpage using BeautifulSoup.
3. Identify the HTML tags that contain the data you want to extract.
4. Use BeautifulSoup methods to extract the data from the HTML tags.
5. Print the extracted data

In [16]:
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!pip install bs4
!pip install html5lib
!pip install lxml==4.6.4
#!pip install plotly==5.3.1

WARNING: Ignoring invalid distribution -lotly (/usr/local/lib/python3.10/dist-packages)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4) (2.4.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=08ac9348661bdc625fe9f25c364e6f415fc51fd4fa37a8c49f5d0fe39ae2ac2c
  Stored in directory: /root/.cache/pip/wheels/25/42/45/b773edc52acb16cd2db4cf1a0b47117e2f69bb4eb300ed0e70
Successfully built bs4
WARNING: Ignoring invalid distribution -lotly (/usr/local/lib/python3.10/dist-packages)
Installing collected packages: bs4
Successfully installed bs4-0.0.1
WARNING: Ignoring invalid distribution -lotly (/usr/local/lib/python3.10/dist-packages)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html5lib in /usr/local/lib/python3.10/dist-packages (1.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib) (0.5.1)
WARNING: Ignoring invalid distribution -lotly (/usr/local/lib/python3.10/dist-packages)
WARNING: Ignoring invalid distribution -lotly (/usr/local/lib/python3.10/dist-packages)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml==4.6.4 in /usr/local/lib/python3.10/dist-packages (4.6.4)
WARNING: Ignoring invalid distribution -lotly (/usr/local/lib/python3.10/dist-packages)

In [12]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [53]:
# Step 1: Send an HTTP request to the webpage using the requests library.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html";
data = requests.get(url);
print(data);
print(type(data));# we have used .text method for extracting the HTML content as a string in order to make it readable.
html = data.text;
print(type(html));
#print(html);

<Response [200]>
<class 'requests.models.Response'>
<class 'str'>

In [68]:
# Step 2: Parse the HTML content of the webpage using BeautifulSoup.
soup = BeautifulSoup(html, "html5lib"); # need html(not data)
#print(soup);

In [29]:
# Step 3: Identify the HTML tags that contain the data you want to extract.
# Scrapping the content of the HTML webpage and convert the table into a dataframe
netflix_data = pd.DataFrame(columns = ["Date", "Open", "High", "Low", "Close", "Volume"]);
print(netflix_data);

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []

In [54]:
# Step 4: Use BeautifulSoup methods to extract the data from the HTML tags.

# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all("tr"): # <tbody> tag: This is the main content of the table, which is defined using the tag. It contains one or more rows of elements.
  col = row.find_all("td");
  date = col[0].text; # convert to type string
  open = col[1].text;
  high = col[2].text;
  low = col[3].text;
  close = col[4].text;
  adj_close = col[5].text;
  volume = col[6].text;
  # Finally we append the data of each row to the table
netflix_data = netflix_data.append({"Date":date, "Open":open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True);
print(netflix_data);

                Date        Open        High         Low       Close  \
0   [[Sep 01, 2015]]  [[109.35]]  [[111.24]]   [[93.55]]  [[103.26]]
1   [[Jun 01, 2021]]  [[504.01]]  [[536.13]]  [[482.14]]  [[528.21]]
2   [[May 01, 2021]]  [[512.65]]  [[518.95]]  [[478.54]]  [[502.81]]
3   [[Apr 01, 2021]]  [[529.93]]  [[563.56]]  [[499.00]]  [[513.47]]
4   [[Mar 01, 2021]]  [[545.57]]  [[556.99]]  [[492.85]]  [[521.66]]
..               ...         ...         ...         ...         ...
76  [[Sep 01, 2015]]  [[109.35]]  [[111.24]]   [[93.55]]  [[103.26]]
77      Sep 01, 2015      109.35      111.24       93.55      103.26
78  [[Sep 01, 2015]]      109.35      111.24       93.55      103.26
79      Sep 01, 2015      109.35      111.24       93.55      103.26
80      Sep 01, 2015      109.35      111.24       93.55      103.26

             Volume   Adj Close
0   [[497,401,200]]  [[103.26]]
1    [[78,560,600]]  [[528.21]]
2    [[66,927,600]]  [[502.81]]
3   [[111,573,300]]  [[513.47]]
4    [[90,183,900]]  [[521.66]]
..              ...         ...
76  [[497,401,200]]  [[103.26]]
77      497,401,200      103.26
78      497,401,200      103.26
79      497,401,200      103.26
80      497,401,200      103.26

[81 rows x 7 columns]

#### Using Panda Library

In [67]:
# ******** pd.read_html(url) is a function provided by the pandas library in Python that is used to extract tables from HTML web pages.
# It takes in a URL as input and returns a list of all the tables found on the webpage.
read_html_pandas_data = pd.read_html(url);
netflix_dataframe = read_html_pandas_data[0]; # There is only one table on the page, we just take the first table in the list returned

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

In [66]:
# Or convert soup to str
read_html_pandas_data = pd.read_html(str(soup));
netflix_dataframe = read_html_pandas_data[0];

netflix_dataframe

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jun 01, 2021",504.01,536.13,482.14,528.21,528.21,78560600
1,"May 01, 2021",512.65,518.95,478.54,502.81,502.81,66927600
2,"Apr 01, 2021",529.93,563.56,499.00,513.47,513.47,111573300
3,"Mar 01, 2021",545.57,556.99,492.85,521.66,521.66,90183900
4,"Feb 01, 2021",536.79,566.65,518.28,538.85,538.85,61902300
...,...,...,...,...,...,...,...
66,"Dec 01, 2015",124.47,133.27,113.85,114.38,114.38,319939200
67,"Nov 01, 2015",109.20,126.60,101.86,123.33,123.33,320321800
68,"Oct 01, 2015",102.91,115.83,96.26,108.38,108.38,446204400
69,"Sep 01, 2015",109.35,111.24,93.55,103.26,103.26,497401200
70,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...