<a href="https://colab.research.google.com/github/Nicholas920214/IBM_DataScience/blob/main/DataScienceEngineering_Tools_for_DataScience_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Science Tools and Engineering
In this notebook, Data Science with engineering us introduced and summarized.

Objectives:


*   List the popular languages in Data Science.
*   List the common use libraries in Data Science.
*   Testing some python codes







Some of the popular languages that Data Scientists use are:


1.   Python
2.   R language
3.   JavaScript

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas
2.   NumPy
3.   SciPy

|Data Science Tools|
|:----:|
|Jupyter Notebook|
|Visual Studio Code|
|Google Colaboratory|

#### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
ans = (3*4)+5; # This a simple arithmetic expression to mutiply then add integers
print(ans);

17

In [10]:
minutes = 200; # This will convert 200 minutes to hours by diving by 60
hours = 200/60;
print("hours = ", hours);

hours =  3.3333333333333335

## Author
Nicholas