### Pandas
* Dataframe: two-dimensional
* Series: one dimension -> one column
* Using one bracket can get a serie
* You can get series from slicing the dataframe
* Using double bracket can get a dataframe
* Using the following table to practice

|   | Student | Age | Country | Course           | Marks |
|---|---------|-----|---------|------------------|-------|
| 0 | David   | 27  | UK      | Python           | 85    |
| 1 | Samuel  | 24  | Canada  | Data Structures  | 72    |
| 2 | Terry   | 22  | China   | Machine Learning | 89    |
| 3 | Evan    | 32  | USA     | Web Development  | 76    |

In [ ]:
# Import pandas
import pandas as pd
# Create a dictionary
x = {"Student": ["David", "Samuel", "Terry", "Evan"], "Age": [27, 24, 22, 32], "Country": ["UK", "Canada", "China", "USA"], "Courese": ["Python", "Data Structures", "Machine Learning", "Web Development"], "Marks": [85, 72, 89, 76]};
df = pd.DataFrame(x);
print(df);

  Student  Age Country           Courese  Marks
0   David   27      UK            Python     85
1  Samuel   24  Canada   Data Structures     72
2   Terry   22   China  Machine Learning     89
3    Evan   32     USA   Web Development     76

In [ ]:
# Serie
age = df["Age"];
print(age);
print("Type of age: ", type(age));
# DataFrame
age = df[["Age"]];
print(age);
print("Type of age: ", type(age));

0    27
1    24
2    22
3    32
Name: Age, dtype: int64
Type of age:  <class 'pandas.core.series.Series'>
   Age
0   27
1   24
2   22
3   32
Type of age:  <class 'pandas.core.frame.DataFrame'>

In [ ]:
# Cannot use: Multi = df["Student", "Country", "Marks"]; -> since it's not a serie
Multi = df[["Student", "Country", "Marks"]]
print(Multi);

  Student Country  Marks
0   David      UK     85
1  Samuel  Canada     72
2   Terry   China     89
3    Evan     USA     76

#### loc()
* This method includes the last element of the range passed in it.
* loc[row_label, column_label]
* **loc cannot use index,the column section will be label**

#### iloc()
* This method does not include the last element of the range passed in it.
* iloc[row_index, column_index]
* **iloc cannot use label, the column section will be index**

In [ ]:
print(df.iloc[0, 0]);
print(df.iloc[0, 2]);
print(df.loc[0, "Country"]);
print(df.loc[0, "Country"]);


print(df.iloc[0:3, 0:3]); # only retrieve 0-2 row, 0-2 column
print("\n");
print(df.loc[0:2, "Student":"Country"]);
print("\n");
print(df.loc["David":"Terry", "Student":"Country"]);

David
UK
UK
UK
  Student  Age Country
0   David   27      UK
1  Samuel   24  Canada
2   Terry   22   China


  Student  Age Country
0   David   27      UK
1  Samuel   24  Canada
2   Terry   22   China


Empty DataFrame
Columns: [Student, Age, Country]
Index: []

In [ ]:
# Read data from CSV file

csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path);
print(df.head());

            Artist                      Album  Released   Length  \
0  Michael Jackson                   Thriller      1982  0:42:19
1            AC/DC              Back in Black      1980  0:42:11
2       Pink Floyd  The Dark Side of the Moon      1973  0:42:49
3  Whitney Houston              The Bodyguard      1992  0:57:44
4        Meat Loaf            Bat Out of Hell      1977  0:46:33

                         Genre  Music Recording Sales (millions)  \
0               pop, rock, R&B                              46.0
1                    hard rock                              26.1
2             progressive rock                              24.2
3               R&B, soul, pop                              27.4
4  hard rock, progressive rock                              20.6

   Claimed Sales (millions) Released.1 Soundtrack  Rating
0                        65  30-Nov-82        NaN    10.0
1                        50  25-Jul-80        NaN     9.5
2                        45  01-Mar-73        NaN     9.0
3                        44  17-Nov-92          Y     8.5
4                        43  21-Oct-77        NaN     8.0

In [ ]:
xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

df = pd.read_excel(xlsx_path)
print(df.head());

            Artist                      Album  Released    Length  \
0  Michael Jackson                   Thriller      1982  00:42:19
1            AC/DC              Back in Black      1980  00:42:11
2       Pink Floyd  The Dark Side of the Moon      1973  00:42:49
3  Whitney Houston              The Bodyguard      1992  00:57:44
4        Meat Loaf            Bat Out of Hell      1977  00:46:33

                         Genre  Music Recording Sales (millions)  \
0               pop, rock, R&B                              46.0
1                    hard rock                              26.1
2             progressive rock                              24.2
3               R&B, soul, pop                              27.4
4  hard rock, progressive rock                              20.6

   Claimed Sales (millions) Released.1 Soundtrack  Rating
0                        65 1982-11-30        NaN    10.0
1                        50 1980-07-25        NaN     9.5
2                        45 1973-03-01        NaN     9.0
3                        44 1992-11-17          Y     8.5
4                        43 1977-10-21        NaN     8.0

In [ ]:
x = df[["Length"]];
print(x);

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [ ]:
print(df.iloc[0, 0]);
print(df.loc[0, "Artist"])
print(df.iloc[1, 0]);
print(df.loc[1, "Artist"]);
print(df.iloc[1, 2]);
print(df.loc[1, "Released"]);
print(df.iloc[0:2, 0:3]);
print(df.loc[0:2, "Artist":"Released"]);

Michael Jackson
Michael Jackson
AC/DC
AC/DC
1980
1980
            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980
            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973