### Tuples

* Tuples are an ordered sequence
* It's like the array
* It's immutable

In [79]:
tuple1 = ("disco", 10, 5.5);
print(type(tuple1));
tuple2 = tuple1 + ("hardwork", 1);
print(tuple2[:]);
print(tuple2);
print(tuple2[0:4]);
print(tuple2[3:5]);
print(tuple2[-1]);
print(tuple2[3:5]);

boolean = "10" in tuple1;
print(boolean);
boolean = 10 in tuple1;
print(boolean);

<class 'tuple'>
('disco', 10, 5.5, 'hardwork', 1)
('disco', 10, 5.5, 'hardwork', 1)
('disco', 10, 5.5, 'hardwork')
('hardwork', 1)
1
('hardwork', 1)
False
True

In [25]:
# Immutable
Ratings = (10, 2, -3, 6, 5);
RatingSorted = sorted(Ratings);
print(RatingSorted);

[-3, 2, 5, 6, 10]

In [14]:
# Nesting
NT = (1, 2, ("Pop", 25555), (3, 4), ("disc", (5, 6)));
print(NT[2][1]);
print(NT[4][1]);
print(NT[4][1][0]);

25555
(5, 6)
5


### List
* []
* List can contain a tuple

In [31]:
L = ["Michael", 10.1, 82, [1, 2], ("A", 1)];
print(L[-1]);
print(L[-1][0]);
print(L[2:5]);
L1 = L + ["Pop", 10];
print(L);
print(L1);

('A', 1)
A
[82, [1, 2], ('A', 1)]
['Michael', 10.1, 82, [1, 2], ('A', 1)]
['Michael', 10.1, 82, [1, 2], ('A', 1), 'Pop', 10]

#### List concatenation function
* Extend: merges two lists or insert multiple elements to a list
* Append: adds one element to a list

In [46]:
L = ["Michael", 10, 9.81];
L.extend(["Pop", 999]);
print(L);
print(L[3]);
print(len(L));

['Michael', 10, 9.81, 'Pop', 999]
Pop
5

In [47]:
L = ["Michael", 10, 9.81];
L.append(["Pop", 999]);
print(L);
print(L[3]);
print(len(L));

['Michael', 10, 9.81, ['Pop', 999]]
['Pop', 999]
4

#### List is mutable
* Can change the value
* Can delete it
* You can convert string to list

In [41]:
A = ["hard work", 10, 888];
A[0] = ["Rock"];
print(A);
del(A[1]);
print(A);

B = "Hard work".split();
print(B);

str1 = "1, 2, 3, 4";
C = str1.split(",");
print(C);

[['Rock'], 10, 888]
[['Rock'], 888]
['Hard', 'work']
['1', ' 2', ' 3', ' 4']

#### List: Aliasing
* All duplicate lists are pointing to same address
* Change one of them, you change all
* But you can also use : to clone it

In [45]:
First = ["Hard rock", 10, 1.2];
Second = First;
print(First);
print(Second);
Second[0] = "Banana";
print(First);
print(Second);

Third_Without_Influence = First[:];
print(Third_Without_Influence);
Third_Without_Influence[0] = "Pineapple";
print(First);
print(Second);
print(Third_Without_Influence);

['Hard rock', 10, 1.2]
['Hard rock', 10, 1.2]
['Banana', 10, 1.2]
['Banana', 10, 1.2]
['Banana', 10, 1.2]
['Banana', 10, 1.2]
['Banana', 10, 1.2]
['Pineapple', 10, 1.2]

### Dictionary
* it has key and value
* key does not need to be an integer
* it is mutable
* {key1: value1, key2:value2, ...}

In [55]:
Dict = {"A":(1, 1), "B":20, "C":["A", 222], "D":"Demi"};
print(Dict["A"]);
Dict["E"] = "Mutable";
print(Dict);
del(Dict["B"]);
print(Dict["C"]);
print(Dict["C"][1]);
boolean = "A" in Dict;
print(boolean);
Keys = Dict.keys();
print(Keys);
Value = Dict.values();
print(Value);

(1, 1)
{'A': (1, 1), 'B': 20, 'C': ['A', 222], 'D': 'Demi', 'E': 'Mutable'}
['A', 222]
222
True
dict_keys(['A', 'C', 'D', 'E'])
dict_values([(1, 1), ['A', 222], 'Demi', 'Mutable'])

### Set
* set is a type
* it is unordered
* it has unique value

In [66]:
Set1 = {"Demi", "Mike", "Nicolas", "Demi"};
print(Set1);
List = ["Demi", "Mike", "Nicolas", "Demi"];
print(set(List));
Set1.add("Kyle");
print(Set1);
Set1.remove("Mike");
print(Set1);
boolean = "Andrew" in Set1;
print(boolean);
Set2 = {"Tommy", "Andrew", "Demi"};
print(Set2);

{'Nicolas', 'Mike', 'Demi'}
{'Nicolas', 'Demi', 'Mike'}
{'Kyle', 'Nicolas', 'Mike', 'Demi'}
{'Kyle', 'Nicolas', 'Demi'}
False
{'Andrew', 'Tommy', 'Demi'}

#### Operation and Function
* &
* difference
* intersection
* union
* superset
* subset

In [77]:
print("Set1 is: ", Set1);
print("Set2 is: ", Set2);
intersection = Set1 & Set2;
print(intersection);

Set_difference = Set1.difference(Set2);
print(Set_difference);

Set_intersection = Set1.intersection(Set2);
print(Set_intersection); # same as &

Set_union = Set1.union(Set2);
print(Set_union);
print("Set1 is: ", Set1);
print("Set2 is: ", Set2);

boolean = set({"Demi", "Nicolas"}).issubset(Set1);
print(boolean);
boolean = {"Demi", "Nicolas"}.issuperset(Set1);
print(boolean);
boolean = {"Demi", "Nicolas", "Kyle", "Demi"}.issuperset(Set1);
print(boolean);

Set1 is:  {'Kyle', 'Nicolas', 'Demi'}
Set2 is:  {'Andrew', 'Tommy', 'Demi'}
{'Demi'}
{'Nicolas', 'Kyle'}
{'Demi'}
{'Nicolas', 'Demi', 'Kyle', 'Tommy', 'Andrew'}
Set1 is:  {'Kyle', 'Nicolas', 'Demi'}
Set2 is:  {'Andrew', 'Tommy', 'Demi'}
True
False
True